Dark background for the whole application
ClearTunnelApp, QWidget {
    background-color: #2f2f2f !important;  /* Dark background color */
}

QComboBox {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    background-color: #4CAF50;  /* Green background */
    color: white;
    border: 2px solid #4CAF50;  /* Green border */
    border-radius: 5px;
    min-width: 200px;  /* Set a minimum width to avoid shrinking */
    text-align: right;  /* Center align the text */
    display: flex;  /* Use flexbox to align items */
    justify-content: center;  /* Horizontally center the text */
}

QComboBox::drop-down {
    border: none;
    text-align: center;  /* Center align the button text */
    display: flex;  /* Use flexbox to center content */
    justify-content: center;  /* Horizontally center the button text */
    align-items: center;  /* Vertically center the button text */
}

QComboBox QAbstractItemView {
    border: none;
    background-color: #4CAF50;  /* Green background for items in the dropdown */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;  /* Center align the items in the dropdown */
    border: 2px solid #1C4D26;  /* Border for better visibility */
    margin: 0px;
    padding: 0px;
}

QComboBox QAbstractItemView::item {
    padding: 12px;  /* Set padding around items */
    margin: 0px;  /* Remove margins around the items */
    background-color: #4CAF50;  /* Ensure each item has the same background */
    text-align: center;  /* Center align the items */
    transition: background-color 0.3s ease;  /* Smooth transition for background color */
}

QComboBox QAbstractItemView::item:hover {
    background-color: #1C4D26;  /* Even darker green for hover effect */
    color: white;
}

QComboBox QAbstractItemView::item:selected {
    background-color: #1C4D26;  /* Same dark green when selected */
    color: white;
}

QComboBox:hover {
    border: 2px solid #1C4D26;  /* Darker green border effect on hover */
}

QPushButton {
    background-color: #4CAF50;  /* Green background */
    color: white;
    border: 2px solid #4CAF50;  /* Green border */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;  /* Center align the button text */
    display: flex;  /* Use flexbox to center content */
    justify-content: center;  /* Horizontally center the button text */
    align-items: center;  /* Vertically center the button text */
}

QPushButton:hover {
    border: 2px solid #1C4D26;  /* Darker green border on hover */
}

QLabel {
    font-size: 14px;
    color: white;
    padding: 10px;
    text-align: center;  /* Center align the label text */
}

QLabel#gif_label {
    padding: 20px;
    background-color: #2f2f2f;  /* Dark background for the bottom */
    text-align: center;
}
